# Ignore environment variables
.env

# Ignore input and output directories
file_processor/input/
file_processor/output/
file_processor/output/failed/
file_processor/temp_images

# Ignore temporary image files
temp_cleaned.jpg
temp_images/

# macOS metadata file (just in case)
.DS_Store