# Ignore environment variables
.env

# Ignore input and output directories
input/
output/
output/failed/

# Ignore temporary image files
temp_cleaned.jpg
temp_images/

# macOS metadata file (just in case)
.DS_Store